<div class="container p-4">
    <div class="col-md-4 mx-auto">
        <div class="card card-body text-center mb-4">
            <a href="/posts/add">Create One!</a>
        </div>
    </div>
    <div class="row">
        {{#each posts}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <a href="/posts/show/{{id_post}}" target="_blank">
                        <h3 class="card-title text-uppercase">
                            {{p_title}}
                        </h3>
                    </a>
                    <p class="text-muted">
                        {{timeago created_at}}
                    </p>
                    <a class="btn btn-danger" href="/posts/delete/{{id_post}}">
                        Delete Post
                    </a>
                    <a class="btn btn-secondary" href="/posts/edit/{{id_post}}">
                        Edit
                    </a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>